<footer class="site-footer">
    <a class="footer-item pretty-button" href="mailto:{{ site.email }}">{{ site.email }}</a>

    <a class="footer-item pretty-button" href="https://twitter.com/real__jame">
        <img
            class="icon flat-icon"
            src="/assets/twitter.svg"
            alt="Mastodon">
        @real__jame
    </a>

    <a
        class="footer-item pretty-button"
        rel="me"
        href="https://wetdry.world/@jame">
        <img
            class="icon flat-icon"
            src="/assets/mastodon.svg"
            alt="Mastodon">
        @jame@wetdry.world
    </a>
</footer>