{% comment %}
Actually being used as a sidebar currently.
{% endcomment %}

<header class="site-header" role="banner">
    {% assign default_paths = site.pages | map: 'path' %}
    {% assign page_paths = site.header_pages | default: default_paths %}
    <h1 class="page-title">{{ site.title | "realjame" }}</h1>
    {% if page_paths %}
        <nav class="site-nav">
            <a class="header-item" href="/"><img
                    src="../assets/silk/house.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">
                Home
            </a>
            <a class="header-item" href="/blog"><img
                    src="../assets/feedicons-color/01.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">Blog
            </a>
            <a class="header-item" href="/daily"><img
                    src="../assets/feedicons-color/16.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">Daily Notes
            </a>
            <a class="header-item" href="/devlog"><img
                    src="../assets/feedicons-color/25.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">Devlogs
            </a>
            <a class="header-item" href="/projects"><img
                    src="../assets/silk/bricks.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">Projects
            </a>
            <a class="header-item" href="/contact"><img
                    src="../assets/silk/vcard.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">About + Contact
            </a>

            <div class="divider"><img
                    src="../assets/silk/page_white_go.png"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">External Links</div>

            <a class="header-item" href="https://wiki.realja.me"><img
                    src="../assets/icons/rbx-legacydocs.ico"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">RBX Legacy Docs
            </a>
            <a class="header-item" href="https://textarea.site"><img
                    src="../assets/icons/textarea.ico"
                    alt=""
                    height="16"
                    width="16"
                    class="icon">textarea.site
            </a>
        </nav>
    {% endif %}
</header>