<div class="rss-subscribe-list">
    <a href="/feed.xml"><img
            src="../assets/feedicons-color/07.png"
            alt=""
            height="16"
            width="16"
            class="icon">RSS feed for everything</a>
    <a href="/blog/feed.xml"><img
            src="../assets/feedicons-color/01.png"
            alt=""
            height="16"
            width="16"
            class="icon">Only blog posts</a>
    <a href="/daily/feed.xml"><img
            src="../assets/feedicons-color/16.png"
            alt=""
            height="16"
            width="16"
            class="icon">Only daily notes</a>
    <a href="/devlog/feed.xml"><img
            src="../assets/feedicons-color/25.png"
            alt=""
            height="16"
            width="16"
            class="icon">Only devlogs</a>
</div>