/**
 * Basic styling
 */
:root {
	color-scheme: dark;
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $background-color;
	background-image: url(/assets/misc/starry-night512.gif);

	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	margin: 0;
}

/**
 * Links
 */
a {
	color: $accent-color;

	&:hover {
		color: $text-color;
		text-decoration: underline;
	}
}

.pretty-button,
.card {
	padding: 5px 10px;
	text-decoration: none;
	color: $accent-color;
	background: linear-gradient(135deg, #1e1e1e, #2d2d2d);
	border: 3px double $accent-color;
	box-shadow: 0 0 8px $accent-color;
	text-shadow: 0 0 5px $accent-color;
	margin-bottom: 1em;
	transition: all 0.3s;
	border-radius: 10px;

	&:hover {
		background: linear-gradient(135deg, #2d2d2d, #1e1e1e);
		color: #e1f0fc;
		box-shadow: 0 0 15px $accent-color;
	}
}

h1 {
	text-wrap: balance; // Not exactly a standard feature, but pretty nifty!
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-shadow: 0 0 8px #1c4971;
}

h1,
h2,
.header-band {
	background: linear-gradient(to right, $accent-color 50%, #7ac2ffff 70%, #006ecb00 100%);
	line-height: 1em;
	margin-left: -15em; // really long so it always shows off-screen on longer screens no matter what
	padding-left: 15em;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;

	color: #000;
	text-shadow: 0 0 12px #2d93ec;

	a,
	span {
		display: block;
		width: 75%;
		color: inherit;
		text-align: left;

		@include media-query($small-screen) {
			width: unset;
		}
	}
}

p {
	margin-block-start: 0.75em;
	margin-block-end: 0.75em;
}

/**
 * `main` element
 */
main {
	display: block;
}

/**
 * Images
 */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;

	@include media-query($small-screen) {
		max-width: 45%;
	}
}
div

/**
 * Videos
 */
video {
	display: block;

	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

/**
 * Figures
 */
figure > img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
	text-align: center;
	font-style: italic;
}

/**
 * Lists
 */
ul,
ol {
	// margin-left: $spacing-unit;
	// margin: 0;
	padding-left: 1.25em;
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}

/**
 * Blockquotes
 */
blockquote {
	color: #808080;
	border-left: 4px solid $gray-color;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-size: 1.1em;
	padding-left: 1em;
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}

	@include media-query($small-screen) {
		margin: 0;
	}
}

/**
 * Code formatting
 */
pre,
code {
	font-size: 0.9375em;
	border: 1px solid $gray-color;
	border-radius: 3px;
	background-color: $code-background-color;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

// Textbox
textarea {
	border-radius: 4px;
	background-color: $code-background-color;
}

/**
 * Clearfix
 */
%clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * Icons
 */

.icon {
	image-rendering: pixelated;
	width: 16px;
	height: 16px;
	padding-right: 5px;
	display: inline-block;
}

.flat-icon {
	filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(328deg) brightness(104%) contrast(100%);
}

/**
 * Tables
 */
table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
	border: 3px double $accent-color;
	box-shadow: 0 0 10px $accent-color;
	border-radius: 10px;

	thead,
	th {
		background: linear-gradient(to bottom, #36414b 50%, rgb(49, 78, 105) 100%);
		text-shadow: 0 0 6px #2d93ec;
		font-size: 1.2em;

		tr {
			background: none;
			td {
				padding: 0.5em 0;
			}
		}
	}

	tr {
		background-color: $nav-background-color;

		&:nth-child(even) {
			background-color: $alt-background-color;
		}
	}

	td {
		border: 1px solid $accent-color;

		&.column-icon {
			width: 10%;
		}

		.icon {
			width: 32px;
			height: 32px;
			vertical-align: bottom;
		}
	}
}

/**
 * Text effects
 */
.text-focus {
	text-align: center;
}

.divider {
	display: flex;
	align-items: center; // align text and lines vertically
	color: #bbb;
	font-style: italic;

	&:before,
	&:after {
		content: "";
		height: 1px;
		background-color: #ccc;
		flex-grow: 1; // both lines will expand to occupy the available space
	}

	&:before {
		margin-right: 5%;
	}
	&:after {
		margin-left: 5%;
	}
}

hr {
	height: 1px;
	background-color: #ccc;
}
