/**
 * Site header
 */
.site-header {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 200px;

	border-right: solid $accent-color 4px;

	@include media-query($small-screen) {
		height: 50px;
		width: 100%;
	}
}

.page-title {
	border: solid $border-color $border-size;
	background: none;
	background-color: $title-background-color;

	font-size: 1.8em;
	color: $text-color;
	margin: 0;
	padding-left: 0;
	text-align: center;
	justify-content: center;

	@include media-query($small-screen) {
		display: none;
	}
}

.site-nav {
	background-color: $nav-background-color;
	position: relative;

	height: 100%;

	@include media-query($small-screen) {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		width: calc(100vw - 18px);
		height: auto;
		padding-right: 18px;

		.header-item {
			display: inline-block;

			margin: 0;
			padding-top: 0;
			padding-bottom: 0;
			transition-property: background, box-shadow;
		}

		.divider {
			display: inline-flex;
			vertical-align: top;
			padding: 0 1em;

			&:before,
			&:after {
				width: 2em;
			}
		}
	}
}

.header-item {
	display: block;
	width: auto;

	padding: 5px 10px;
	text-decoration: none;
	color: $accent-color;

	margin-bottom: 8px;
	transition: all 0.3s;
	border-radius: 10px;

	&:hover {
		background: linear-gradient(135deg, #2d2d2d, #1e1e1e);
		color: #e1f0fc;
		box-shadow: 0 0 15px $accent-color;
	}

	@include media-query($small-screen) {
		border: 3px double $accent-color;
		background: linear-gradient(135deg, #1e1e1e, #2d2d2d);
		box-shadow: 0 0 10px $accent-color;
		text-shadow: 0 0 5px $accent-color;
	}
}

/**
 * Site footer
 */
body .button-row {
	text-align: center;
	margin-left: 200px;

	@include media-query($small-screen) {
		margin-left: 0;
	}
}

.button-row {
	text-align: center;
	list-style: none;

	@include media-query($small-screen) {
		text-align: unset;
	}
}

.button-row a {
	display: inline-block;
}

.button-row a img {
	max-width: 100%;

	@include media-query($small-screen) {
		width: 200%;
	}
}

.site-footer {
	margin-left: 200px;
	width: auto;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;

	@include media-query($small-screen) {
		margin: 0;
	}
}

.footer-item {
	display: inline-block;

	.icon {
		padding: 0;
		width: 32px;
		height: 32px;
		vertical-align: middle;
	}
}

.footer-heading {
	font-size: 1.125em;
}

.footer-bar {
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		margin: 0.5em;
		display: inline-block;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/**
 * Page content
 */
.post-header .post-meta {
	margin-top: -2em;
}

.page-content {
	margin-left: 200px;
	width: auto;

	@include media-query($small-screen) {
		margin-left: 0;
		padding-top: 50px;
	}

	border-style: none solid;
	border-color: $border-color;
	border-width: $border-size;
	padding: 1em;

	@include media-query($small-screen) {
		width: auto;
	}
}

.content-wrapper {
	margin: auto;
	max-width: 50em;
}

.post-list-heading {
	font-size: 1.75em;
	text-align: center;
	// font-weight: bold;
	line-height: normal; // override to match realja.me
}

.post-list {
	margin-left: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;

	@include media-query($small-screen) {
		padding: 0;
		display: block;
	}

	li {
		padding: 0.1em;
		background-color: $nav-background-color;
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		text-shadow: 0 0 1px #b3d4f0;

		min-width: 40%;
		flex: 1;

		@include media-query($small-screen) {
			padding: 0;
		}
	}

	> li > a {
		font-size: 1.4em;
		font-weight: bold;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.post-item.card .topics {
	margin-bottom: 5px;

	a {
		box-shadow: 0 0 3px #b3d4f0;
	}
}

.card-image {
	height: auto;
	max-width: 20vw;
	margin-top: auto;

	@include media-query($small-screen) {
		width: 90%;
		max-width: 90%;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $gray-color;
	text-align: center;
	margin: 0;
}

.post-description {
	font-size: 1.2em;
	font-style: italic;
}

.post-link {
	display: block;

	font-size: 1.5em;
}

.post-link > p {
	margin: 0;
}

/**
 * Blog index
 */
.tagcloud {
	margin: 0.5em;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		display: inline-block;
		margin-top: 1em;

		a .icon {
			padding: 0;
			height: 32px;
			width: 32px;
			vertical-align: middle;
		}
	}
}

.topic-item {
	font-size: 0.65em;

	.icon {
		vertical-align: middle;
		padding-right: 0;
	}
}

.rss-subscribe-list a {
	display: block;
}

.tag {
	color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 1em;
}

.green {
	background-color: green;
}

.blue {
	background-color: mediumblue;
}

/**
 * Posts
 */
.post {
	max-width: inherit;

	figure {
		margin-block-start: 0.75em;
		margin-block-end: 0.75em;
		margin: auto;
	}

	p img,
	figure img {
		max-width: 100%;
		width: auto;
		height: 100%;
	}
}

.post-title {
	font-size: 2.625em;
	// letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	font-weight: bold;
	margin-top: -20px;
	margin-left: -50vw;
	padding-left: 50vw;

	background: linear-gradient(to right, #b3d4f0 50%, #7ac2ff 80%, rgba(0, 110, 203, 0) 100%);

	@include media-query($small-screen) {
		margin-top: 0;
	}
}

.post-content {
	h2 {
		font-size: 2em;

		@include media-query($small-screen) {
			font-size: 1.75em;
		}
	}

	h3 {
		font-size: 1.625em;
		margin: 0;

		@include media-query($small-screen) {
			font-size: 1.375em;
		}
	}

	h4 {
		font-size: 1.25em;
		margin: 0;

		@include media-query($small-screen) {
			font-size: 1.125em;
		}
	}
}

/**
 * Project page
 */
.project-title {
	margin: 0.25em;

	.icon {
		width: 32px;
		height: 32px;
		vertical-align: sub;
	}
}
.project-status {
	margin: 0.25em 0;

	margin-right: -10px;
	padding-right: 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	@include media-query($small-screen) {
		padding-left: 10%;
		justify-content: space-between;
	}

	&:before {
		content: "";
		display: inline-block;
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		image-rendering: pixelated;
		background-position: center;
		background-size: contain;

		margin: 0 6px 0 0;
		padding: 3px;
		border-radius: 4px;
	}
}

.card:has(.project-title) {
	// disable certain effects which it gets from grouping with .pretty-button
	pointer-events: none;

	// links should still hover though!
	* a {
		pointer-events: all;
	}
}

.project-links,
.project-status,
.project-description {
	text-shadow: none;
}

.card-active {
	border-color: #b6ffb6;
	box-shadow: 0 0 10px #b6ffb6;

	.project-status:before {
		background-image: url("/assets/silk/lightning.png");
		// filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
	}

	.project-status {
		color: #093b09;
		background: linear-gradient(to left, #b0f3b0 50%, #349737 85%, #00000000 100%);
		text-shadow: 0 0 5px #00ff00;
	}

	&:hover {
		box-shadow: 0 0 15px #b6ffb6;
	}
}

.card-inactive {
	border-color: #ffe1ad;
	box-shadow: 0 0 10px #ffe1ad;

	.project-status:before {
		background-image: url("/assets/silk/hourglass_delete.png");
	}

	.project-status {
		color: #143014;
		background: linear-gradient(to left, #ffe1ad 50%, #ffd58e 85%, #00000000 100%);
		text-shadow: 0 0 5px #ffa200;
	}

	&:hover {
		box-shadow: 0 0 15px #ffe1ad;
	}
}

.card-complete {
	border-color: $accent-color;
	box-shadow: 0 0 10px $accent-color;

	.project-status:before {
		background-image: url("/assets/silk/tick.png");
	}

	.project-status {
		color: #13222f;
		background: linear-gradient(to left, $accent-color 50%, #7ac2ffff 85%, #006ecb00 100%);
		text-shadow: 0 0 5px #2d93ec;
	}

	&:hover {
		box-shadow: 0 0 15px #2d93ec;
	}
}

/**
 * Contact page
 */
.contact-avatar {
	padding-left: 2em;
	float: right;

	@include media-query($small-screen) {
		float: none;
		padding: 0;
	}

	img {
		border-radius: 5px;
		max-width: fit-content;

		@include media-query($small-screen) {
			width: 30%;
		}
	}
}

.contact-accounts {
	list-style: none;

	img {
		image-rendering: auto;
	}
}

/**
 * Tag filter page
 */
.tag-description {
	h1,
	h2 {
		margin-top: -20px;
		margin-bottom: 0.1em;
		font-size: 1.8em;

		@include media-query($small-screen) {
			margin-top: -10px;
		}
	}

	p {
		margin-top: 0;
	}
}

.tag-filter-links {
	p {
		margin-bottom: 0;
	}

	ul {
		margin-top: 0;
		list-style: none;

		position: relative;
		left: -1em;
	}
}

.tag-filter-tagclouds {
	p {
		margin-bottom: 0;
	}

	ul {
		margin-top: 0;
	}
}

/**
 * Callouts
 * A remake of the Obsidian feature https://help.obsidian.md/Editing+and+formatting/Callouts
 */

.callout {
	overflow: hidden;
	border-style: solid;
	border-width: 3px;
	border-radius: 4px;
	width: 50%;
	margin: 1em auto;
	background-color: #29446c;
	padding: 12px 12px 12px 24px;

	@include media-query($small-screen) {
		width: 80%;
	}
}

// disabled because i dont know how to prevent it from overlapping header bars and stuff.

// .callout-aside {
// 	@media screen and (min-width: $small-screen) {
// 		float: right;
// 		clear: right;
// 		width: 40%;
// 		overflow-x: auto;
// 		margin-bottom: 5em;
// 	}
// }

.callout-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.5em;
	color: var(--callout-title-color);
}

.callout-icon {
	width: 32px;
	height: 32px;
	margin: 0;
}

.callout-title-inner {
	font-weight: bold;
}

.callout-content {
	overflow-x: auto;
	padding: 0;

	p {
		margin-block-start: 1rem;
		margin-block-end: 1rem;
	}
}

.callout-note {
	background-color: rgba(27, 42, 53, 0.95);
	border-color: #cea476;
	--callout-title-color: #ffe88c;
}

.callout-info {
	background-color: rgba(27, 42, 53, 0.95);
	border-color: #a2bddd;
	--callout-title-color: #9bcdff;
}

.callout-summary {
	background-color: #1b2a2a;
	border-color: #d4e6fd;
	--callout-title-color: #53dfdd;
}

.callout-todo {
	background-color: rgba(27, 42, 53, 0.95);
	border-color: #cea476;
	--callout-title-color: #f6df80;
}

.callout-tip {
	background-color: #04403f;
	border-color: #fcf0c4;
	--callout-title-color: #f6df80;
}

.callout-success {
	background-color: #0f330f;
	border-color: #90d284;
	--callout-title-color: #82cb78;
}

.callout-question {
	background-color: #4a4f54;
	border-color: #d0deee;
	--callout-title-color: #9bcdff;
}

.callout-warning {
	background-color: #451602;
	border-color: #e9973f;
	--callout-title-color: #e9973f;
}

.callout-failure {
	background-color: #521618;
	border-color: #ff585b;
	--callout-title-color: #ff7b7e;
}

.callout-danger {
	background-color: #521618;
	border-color: #eb6e5a;
	--callout-title-color: #ff7b7e;
}

.callout-bug {
	background-color: #521618;
	border-color: #eb6e5a;
	--callout-title-color: #ff7b7e;
}

.callout-example {
	background-color: #382b58;
	border-color: #a882ff;
	--callout-title-color: #a882ff;
}

.callout-quote {
	background-color: #3b3f43;
	border-color: #5d8bb3;
	--callout-title-color: #7c7c7c;
}

// this comment is just a divider idk what to write here lol

.big {
	font-size: 1.5em;
}
