/**
 * Basic styling
 */
// :root::before {
// 	content: "";
// 	position: absolute;
// 	width: 200%;
// 	height: 200%;
// 	top: -50%;
// 	left: -50%;
// 	z-index: -1;
// 	background-image: url(/assets/misc/truss-single.png);
// 	transform: rotate(30deg);
// }

:root {
	color-scheme: dark;

	@include light-mode() {
		color-scheme: light;
	}
}

body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $background-color;
	background-image: url(/assets/misc/starry-night512.gif);

	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	// width: 40em;
	// margin: auto;
	// min-height: 100vh;
	margin: 0;

	// @include media-query($medium-screen) {
	// 	width: 75%;
	// }

	// @include media-query($small-screen) {
	// 	width: 90%;
	// }

	@include light-mode() {
		color: $text-color-light;
		background-color: $background-color-light;
	}
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
	margin-bottom: calc($spacing-unit / 2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-shadow: 0 0 8px #1c4971;

	h1,
	h2 {
		margin: 0;
		text-align: center;
	}
}

.header-band {
	color: #13222f;
	background: linear-gradient(to right, $accent-color 0, #7ac2ffff 50%, #006ecb00 100%);
	line-height: 1em;
	margin-left: -20%;
	padding-left: 20%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-shadow: 0 0 12px #2d93ec;
}

/**
 * `main` element
 */
main {
	// padding: 1em;
	display: block;
	background-image: url(/assets/misc/starry-night512.gif);
	/* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	// width: 100%;
	max-width: 60%;

	@include media-query($small-screen) {
		max-width: 45%;
	}
}

/**
 * Videos
 */
video {
	display: block;

	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

/**
 * Figures
 */
figure > img {
	display: block;
}

figcaption {
	font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
	// margin-left: $spacing-unit;
	// margin: 0;
	padding-left: 1.25em;
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}

/**
 * Links
 */
a {
	color: $accent-color;
	// text-decoration: none;

	// @include light-mode() {
	// 	color: $accent-color-light;
	// }

	&:hover {
		color: $text-color;
		text-decoration: underline;

		@include light-mode() {
			color: $text-color-light;
		}
	}
}

.pretty-button {
	padding: 5px 10px;
	text-decoration: none;
	color: $accent-color;
	background: linear-gradient(135deg, #1e1e1e, #2d2d2d);
	border: 3px double $accent-color;
	box-shadow: 0 0 10px $accent-color;
	text-shadow: 0 0 5px $accent-color;
	margin-bottom: 8px;
	transition: all 0.3s;
	border-radius: 10px;

	&:hover {
		background: linear-gradient(135deg, #2d2d2d, #1e1e1e);
		color: #e1f0fc;
		box-shadow: 0 0 15px $accent-color;
	}
}

/**
 * Blockquotes
 */
blockquote {
	color: #808080;
	border-left: 4px solid $gray-color;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: calc($spacing-unit / 2);
	font-size: 1.1em;
	letter-spacing: -1px;
	font-style: italic;

	> :last-child {
		margin-bottom: 0;
	}

	@include media-query($small-screen) {
		margin: 0;
	}
}

/**
 * Code formatting
 */
pre,
code {
	font-size: 0.9375em;
	border: 1px solid $gray-color;
	border-radius: 3px;
	background-color: $code-background-color;

	@include light-mode() {
		background-color: $code-background-color-light;
	}
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

// Textbox
textarea {
	border-radius: 4px;
	background-color: $code-background-color;

	@include light-mode() {
		background-color: $code-background-color-light;
	}
}

/**
 * Wrapper
 */
.wrapper {
	// max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
	// max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
	// margin-right: auto;
	// margin-left: auto;
	// padding-right: $spacing-unit;
	// padding-left: $spacing-unit;
	// @extend %clearfix;ls

	// @include media-query($small-screen) {
	// 	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
	// 	max-width: calc(#{$content-width} - (#{$spacing-unit}));
	// 	padding-right: calc($spacing-unit / 2);
	// 	padding-left: calc($spacing-unit / 2);
	// }

	// text-align: center;
	// width: 35em;
	margin: auto;

	border-style: none solid;
	border-color: $border-color;
	border-width: $border-size;
	padding: 1em;

	@include media-query($small-screen) {
		width: auto;
	}

	max-width: 1000px;
}

/**
 * Clearfix
 */
%clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * Icons
 */

.icon {
	image-rendering: pixelated;
	width: 16px;
	height: 16px;
	padding-right: 5px;
	display: inline-block;
}

.flat-icon {
	filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(328deg) brightness(104%) contrast(100%);
}

/**
 * Tables
 */
table {
	margin-bottom: $spacing-unit;
	width: 100%;
	text-align: $table-text-align;
	// color: lighten($text-color, 18%);
	border-collapse: collapse;
	border: 1px solid $gray-color;
	border-radius: 4px;

	@include light-mode() {
		// color: lighten($text-color-light, 18%);
	}

	tr {
		&:nth-child(even) {
			background-color: $alt-background-color;

			@include light-mode() {
				background-color: $alt-background-color-light;
			}
		}
	}

	th,
	td {
		padding: calc($spacing-unit / 3) calc($spacing-unit / 2);
	}

	th {
		background-color: $nav-background-color;
		border: 1px solid $gray-color;
		border-radius: 4px;

		@include light-mode() {
			background-color: $nav-background-color-light;
		}
	}

	td {
		border: 1px solid $gray-color;
		border-radius: 4px;
	}
}

/**
 * Text effects
 */
.text-focus {
	text-align: center;
}
