// * {
// 	border: solid 1px rebeccapurple;
// }

/**
 * Site header
 */
.site-header {
	// min-height: $spacing-unit * 1.865;

	// Positioning context for the mobile navigation icon
	position: fixed;
	// margin-top: 1em;
	left: 0;
	top: 0;
	height: 100%;
	width: 200px;

	@include media-query($small-screen) {
		height: 50px;
		width: 100%;
	}
}

.page-title {
	// border-radius: 10px 10px 0 0;
	border: solid $border-color $border-size;
	background-color: $title-background-color;

	// @include relative-font-size(1.8);
	color: $text-color;
	// font-weight: bold;
	// line-height: $base-line-height * $base-font-size * 2.25;
	// letter-spacing: -1px;
	margin: 0;
	text-align: center;
	// display: flex;
	justify-content: center;
	// line-height: normal; // override to match realja.me

	@include light-mode() {
		background-color: $title-background-color-light;
		color: $text-color-light;

		border: solid $border-color-light $border-size-light;
	}

	@include media-query($small-screen) {
		display: none;
		// TODO icon display
	}
}

.site-nav {
	background-color: $nav-background-color;
	height: 100%;
	border: solid $border-color $border-size;
	position: relative;

	@include light-mode() {
		background-color: $nav-background-color-light;
		border: solid $border-color-light $border-size-light;
	}

	.page-link {
		// background-color: $nav-button-background-color;
		padding: 0.5em;
		border-radius: 3px;

		@include light-mode() {
			background-color: $nav-button-background-color-light;
		}

		// @include media-query($medium-screen) {
		// 	margin: 0 0.5em;
		// 	padding: 0.35em;
		// }

		// @include media-query($small-screen) {
		// 	margin: auto;
		// 	padding: auto;
		// }
	}
}

.header-bar {
	height: 100%;
	margin: 0;
	list-style: none;

	@include media-query($small-screen) {
		overflow-x: scroll;
		overflow-y: visible;
		white-space: nowrap;
		display: inline-block;
		position: relative;
		width: 100vw;
	}

	li {
		margin: 0.5em 0;

		a {
			width: 100%;
			font-size: 1em;
		}

		@include media-query($small-screen) {
			// Horizontal alignment
			display: inline;
		}
	}
}

/**
 * Site footer
 */
.button-row {
	text-align: center;
	list-style: none;

	@include media-query($small-screen) {
		text-align: unset;
	}
}

.button-row a {
	display: inline-block;
}

.button-row a img {
	max-width: 100%;

	@include media-query($small-screen) {
		width: 200%;
	}
}

.site-footer {
	background-color: $content-background-color;
	display: flex;
	align-items: center;
	justify-content: center;

	border-style: none solid solid;
	border-color: $border-color;
	border-width: $border-size;

	@include light-mode() {
		background-color: $content-background-color-light;
		border-color: $border-color-light;
		border-width: $border-size-light;
	}

	a {
		width: auto;
		padding: 1em;
		background-color: $nav-button-background-color;
		margin: 0 1em;
		border-radius: 3px;
		white-space: nowrap;

		@include light-mode() {
			background-color: $nav-button-background-color-light;
		}

		@include media-query($medium-screen) {
			margin: 0 0.5em;
			padding: 0.5em;
		}

		@include media-query($small-screen) {
			margin: 0 -0.25em;
			padding: 0.5em;
		}
	}
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: calc($spacing-unit / 2);
}

.footer-bar {
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		margin: 0.5em;
		display: inline-block;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/**
 * Page content
 */
.page-content {
	background-color: rgba($content-background-color, 0.95);
	// padding: 1em;
	margin-left: 200px;
	// width: calc(100vw - 200px);
	width: auto;

	@include light-mode() {
		background-color: $content-background-color-light;
		border-color: $border-color-light;
		border-width: $border-size-light;
	}

	@include media-query($small-screen) {
		margin-left: 0;
		padding-top: 50px;
	}
}

.post-list-heading {
	@include relative-font-size(1.75);
	text-align: center;
	// font-weight: bold;
	line-height: normal; // override to match realja.me
}

// TODO: why are these separate classes? merge them
.post-list {
	margin-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;

	@include media-query($small-screen) {
		padding: 0;
		display: block;
	}
}

.post-list-outline {
	li {
		border: 2px solid $border-color;
		border-radius: 2px;
		padding: 0.5em;
		background-color: $nav-background-color;
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		min-width: 40%;
		flex: 1;

		@include light-mode() {
			border-color: $border-color-light;
			background-color: $nav-background-color-light;
		}

		@include media-query($small-screen) {
			padding: 0;
		}
	}

	> li > a {
		@include relative-font-size(1.4);
		font-weight: bold;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.card-image {
	height: auto;
	max-width: 20vw;
	margin-top: auto;

	@include media-query($small-screen) {
		width: 90%;
		max-width: 90%;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $gray-color;
	text-align: center;
	margin: 0;
}

.post-description {
	font-size: 1.2em;
	font-style: italic;
}

.post-link {
	display: block;

	@include relative-font-size(1.5);
}

.post-link > p {
	margin: 0;
}

/**
 * Blog index
 */
.tagcloud {
	// border-radius: 10px;
	// border: solid 1px;
	// border-style: dashed;
	margin: 0.5em;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		display: inline-block;
		padding: 1%;
		border: solid 1px;
		border-radius: 10px;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.topics {
	a {
		background-color: rgb(53, 57, 59);
		border-color: rgb(101, 94, 83);
		text-decoration: none;

		padding: 3px;
		border: 1px solid #777;
		font-size: 0.65em;
		position: relative;
		top: -1px;
	}
}

body {
	background-color: #121212; // Deep dark background
}

.rss-subscribe-list {
	a {
		display: block;
		padding: 5px 10px;
		text-decoration: none;
		color: #afcce7; // Metallic blue for text
		background: linear-gradient(135deg, #1e1e1e, #2d2d2d); // A subtle gradient
		border: 3px double #afcce7; // Double border with metallic blue
		box-shadow: 0 0 10px #afcce7; // Blue glow around the link
		text-shadow: 0 0 5px #afcce7; // Text glow for that Y2K feel
		margin-bottom: 8px;
		transition: all 0.3s; // Smooth transitions

		&:hover {
			background: linear-gradient(135deg, #2d2d2d, #1e1e1e); // Inverted gradient on hover
			color: #e1f0fc; // A lighter shade of the blue on hover
			box-shadow: 0 0 15px #8ab4d3; // Intensified glow on hover
		}
	}
}

// .small-entry {
// 	// display: flex;
// 	// height: 100%;
// 	// justify-content: center;

// 	@include media-query($small-screen) {
// 		flex-direction: column;
// 		padding: 0;
// 	}

// 	.stack {
// 		width: 100%;
// 		display: flex;
// 		align-items: center;
// 		flex-direction: column;
// 		padding-right: 0.5em;

// 		.post-meta {
// 			white-space: nowrap;
// 		}

// 		.post-link {
// 			font-size: 25px;
// 			text-align: center;
// 		}
// 	}

// 	img {
// 		margin: 0;
// 		margin-left: auto;
// 		align-self: flex-end;
// 		justify-self: center;

// 		@include media-query($small-screen) {
// 			min-width: 100%;
// 		}
// 	}
// }

.tag {
	color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 1em;
}

.green {
	background-color: green;
}

.blue {
	background-color: mediumblue;
}

/**
 * Posts
 */
.post {
	max-width: inherit;
}

.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	@include relative-font-size(2.625);
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	font-weight: bold;

	@include media-query($small-screen) {
		@include relative-font-size(2.25);
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		@include relative-font-size(2);

		@include media-query($small-screen) {
			@include relative-font-size(1.75);
		}
	}

	h3 {
		@include relative-font-size(1.625);

		@include media-query($small-screen) {
			@include relative-font-size(1.375);
		}
	}

	h4 {
		@include relative-font-size(1.25);

		@include media-query($small-screen) {
			@include relative-font-size(1.125);
		}
	}
}
