/**
 * Site header
 */
.site-header {
	// min-height: $spacing-unit * 1.865;

	// Positioning context for the mobile navigation icon
	position: relative;
	margin-top: 1em;
}

.page-title {
	border-radius: 10px 10px 0 0;
	border: solid $border-color $border-size;
	background-color: $title-background-color;

	// @include relative-font-size(1.8);
	color: $text-color;
	// font-weight: bold;
	// line-height: $base-line-height * $base-font-size * 2.25;
	// letter-spacing: -1px;
	margin: 0;
	text-align: center;
	// display: flex;
	justify-content: center;
	// line-height: normal; // override to match realja.me

	@include light-mode() {
		background-color: $title-background-color-light;
		color: $text-color-light;

		border: solid $border-color-light $border-size-light;
	}
}

.site-nav {
	background-color: $nav-background-color;
	display: flex;
	align-items: center;
	justify-content: center;

	border: solid $border-color $border-size;

	@include light-mode() {
		background-color: $nav-background-color-light;

		border: solid $border-color-light $border-size-light;
	}

	.page-link {
		background-color: $nav-button-background-color;
		margin: 0 1em;
		padding: 0.5em;
		border-radius: 3px;

		@include light-mode() {
			background-color: $nav-button-background-color-light;
		}

		@include media-query($medium-screen) {
			margin: 0 0.5em;
			padding: 0.35em;
		}

		@include media-query($small-screen) {
			margin: auto;
			padding: auto;
		}
	}
}

/**
 * Site footer
 */
.button-row {
	text-align: center;
	list-style: none;

	@include media-query($small-screen) {
		text-align: unset;
	}
}

.button-row a {
	display: inline-block;
}

.button-row a img {
	max-width: 100%;

	@include media-query($small-screen) {
		width: 200%;
	}
}

.site-footer {
	background-color: $content-background-color;
	display: flex;
	align-items: center;
	justify-content: center;

	border-style: none solid solid;
	border-color: $border-color;
	border-width: $border-size;

	@include light-mode() {
		background-color: $content-background-color-light;
		border-color: $border-color-light;
		border-width: $border-size-light;
	}

	a {
		width: auto;
		padding: 1em;
		background-color: $nav-button-background-color;
		margin: 0 1em;
		border-radius: 3px;
		white-space: nowrap;

		@include light-mode() {
			background-color: $nav-button-background-color-light;
		}

		@include media-query($medium-screen) {
			margin: 0 0.5em;
			padding: 0.5em;
		}

		@include media-query($small-screen) {
			margin: 0 -0.25em;
			padding: 0.5em;
		}
	}
}

.footer-heading {
	@include relative-font-size(1.125);
	margin-bottom: calc($spacing-unit / 2);
}

.footer-bar {
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		margin: 0.5em;
		display: inline-block;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.header-bar {
	margin: 0;

	li {
		margin: 0.5em 0;

		a {
			width: 100%;
			font-size: 1em;
		}
	}
}

/**
 * Page content
 */
.page-content {
	background-color: rgba($content-background-color, 0.95);
	padding: 1em;

	border-style: none solid;
	border-color: $border-color;
	border-width: $border-size;

	@include light-mode() {
		background-color: $content-background-color-light;
		border-color: $border-color-light;
		border-width: $border-size-light;
	}
}

.page-heading {
	// @include relative-font-size(2);
}

.post-list-heading {
	@include relative-font-size(1.75);
	text-align: center;
	// font-weight: bold;
	line-height: normal; // override to match realja.me
}

.post-list {
	margin-left: 0;
	list-style: none;

	@include media-query($small-screen) {
		padding: 0;
	}
}

.post-list-outline {
	li {
		border: 2px solid $border-color;
		border-radius: 2px;
		padding-left: 0.5em;
		background-color: $nav-background-color;
		text-align: center;

		@include light-mode() {
			border-color: $border-color-light;
			background-color: $nav-background-color-light;
		}

		img {
			width: auto;
			height: auto;
		}

		@include media-query($small-screen) {
			padding: 0;
		}
	}

	> li > a {
		@include relative-font-size(1.4);
		font-weight: bold;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $gray-color;
	text-align: center;
	margin: 0;
}

.post-description {
	font-size: 1.2em;
	font-style: italic;
}

.post-link {
	display: block;

	@include relative-font-size(1.5);
}

.post-link > p {
	margin: 0;
}

/**
 * Blog index
 */
.tagcloud {
	// border-radius: 10px;
	// border: solid 1px;
	// border-style: dashed;
	margin: 0.5em;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		display: inline-block;
		padding: 1%;
		border: solid 1px;
		border-radius: 10px;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.small-entry {
	display: flex;
	height: 100%;
	justify-content: center;

	@include media-query($small-screen) {
		flex-direction: column;
		padding: 0;
	}

	.stack {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-right: 0.5em;

		.post-meta {
			white-space: nowrap;
		}

		.post-link {
			font-size: 25px;
			text-align: center;
		}
	}

	img {
		margin: 0;
		margin-left: auto;
		align-self: flex-end;
		justify-self: center;

		@include media-query($small-screen) {
			min-width: 100%;
		}
	}
}

.green-tag {
	background-color: green;
	color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 1em;
}

/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	@include relative-font-size(2.625);
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	font-weight: bold;

	@include media-query($small-screen) {
		@include relative-font-size(2.25);
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		@include relative-font-size(2);

		@include media-query($small-screen) {
			@include relative-font-size(1.75);
		}
	}

	h3 {
		@include relative-font-size(1.625);

		@include media-query($small-screen) {
			@include relative-font-size(1.375);
		}
	}

	h4 {
		@include relative-font-size(1.25);

		@include media-query($small-screen) {
			@include relative-font-size(1.125);
		}
	}
}
