// * {
// 	border: solid 1px rebeccapurple;
// }

/**
 * Site header
 */
.site-header {
	// min-height: $spacing-unit * 1.865;

	// Positioning context for the mobile navigation icon
	position: fixed;
	// margin-top: 1em;
	left: 0;
	top: 0;
	height: 100%;
	width: 200px;

	border-right: solid $accent-color 4px;

	@include media-query($small-screen) {
		height: 50px;
		width: 100%;
	}
}

.page-title {
	// border-radius: 10px 10px 0 0;
	border: solid $border-color $border-size;
	background: none;
	background-color: $title-background-color;

	font-size: 1.8em;
	color: $text-color;
	margin: 0;
	padding-left: 0;
	text-align: center;
	justify-content: center;

	@include light-mode() {
		background-color: $title-background-color-light;
		color: $text-color-light;

		border: solid $border-color-light $border-size-light;
	}

	@include media-query($small-screen) {
		display: none;
	}
}

.site-nav {
	background-color: $nav-background-color;
	position: relative;

	@include light-mode() {
		background-color: $nav-background-color-light;
		border: solid $border-color-light $border-size-light;
	}

	height: 100%;

	@include media-query($small-screen) {
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		width: calc(100vw - 18px);
		height: auto;
		padding-right: 18px;

		.header-item {
			display: inline-block;

			margin: 0;
			padding-top: 0;
			padding-bottom: 0;
			transition-property: background, box-shadow;
		}

		.divider {
			display: inline-flex;
			vertical-align: top;
			padding: 0 1em;

			&:before,
			&:after {
				width: 2em;
			}
		}
	}
}

.header-item {
	display: block;
	width: auto;

	padding: 5px 10px;
	text-decoration: none;
	color: $accent-color;

	margin-bottom: 8px;
	transition: all 0.3s;
	border-radius: 10px;

	&:hover {
		background: linear-gradient(135deg, #2d2d2d, #1e1e1e);
		color: #e1f0fc;
		box-shadow: 0 0 15px $accent-color;
	}

	@include media-query($small-screen) {
		border: 3px double $accent-color;
		background: linear-gradient(135deg, #1e1e1e, #2d2d2d);
		box-shadow: 0 0 10px $accent-color;
		text-shadow: 0 0 5px $accent-color;
	}
}

/**
 * Site footer
 */
.button-row {
	text-align: center;
	list-style: none;

	@include media-query($small-screen) {
		text-align: unset;
	}
}

.button-row a {
	display: inline-block;
}

.button-row a img {
	max-width: 100%;

	@include media-query($small-screen) {
		width: 200%;
	}
}

.site-footer {
	margin-left: 200px;
	width: auto;
	text-align: center;
	display: flex;
	justify-content: space-evenly;

	@include media-query($small-screen) {
		margin: 0;
	}
}

.footer-item {
	display: inline-block;
}

.footer-heading {
	font-size: 1.125em;
	// margin-bottom: calc($spacing-unit / 2);
}

.footer-bar {
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		margin: 0.5em;
		display: inline-block;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

/**
 * Page content
 */
.page-content {
	background-color: rgba($content-background-color, 0.95);
	// padding: 1em;
	margin-left: 200px;
	// width: calc(100vw - 200px);
	width: auto;

	@include light-mode() {
		background-color: $content-background-color-light;
		border-color: $border-color-light;
		border-width: $border-size-light;
	}

	@include media-query($small-screen) {
		margin-left: 0;
		padding-top: 50px;
	}

	border-style: none solid;
	border-color: $border-color;
	border-width: $border-size;
	padding: 1em;

	@include media-query($small-screen) {
		width: auto;
	}

	max-width: 1000px;
}

.post-list-heading {
	font-size: 1.75em;
	text-align: center;
	// font-weight: bold;
	line-height: normal; // override to match realja.me
}

.post-list {
	margin-left: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;

	@include media-query($small-screen) {
		padding: 0;
		display: block;
	}

	li {
		border: 2px solid $border-color;
		border-radius: 2px;
		padding: 0.1em;
		background-color: $nav-background-color;
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		min-width: 40%;
		flex: 1;

		@include light-mode() {
			border-color: $border-color-light;
			background-color: $nav-background-color-light;
		}

		@include media-query($small-screen) {
			padding: 0;
		}
	}

	> li > a {
		font-size: 1.4em;
		font-weight: bold;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.card-image {
	height: auto;
	max-width: 20vw;
	margin-top: auto;

	@include media-query($small-screen) {
		width: 90%;
		max-width: 90%;
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $gray-color;
	text-align: center;
	margin: 0;
}

.post-description {
	font-size: 1.2em;
	font-style: italic;
}

.post-link {
	display: block;

	font-size: 1.5em;
}

.post-link > p {
	margin: 0;
}

/**
 * Blog index
 */
.tagcloud {
	// border-radius: 10px;
	// border: solid 1px;
	// border-style: dashed;
	margin: 0.5em;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
	list-style: none;

	li {
		display: inline-block;

		a .icon {
			padding: 0;
			height: 32px;
			width: 32px;
			vertical-align: middle;
		}
	}
}

.topic-item {
	font-size: 0.65em;
}

.rss-subscribe-list a {
	display: block;
}

// .small-entry {
// 	// display: flex;
// 	// height: 100%;
// 	// justify-content: center;

// 	@include media-query($small-screen) {
// 		flex-direction: column;
// 		padding: 0;
// 	}

// 	.stack {
// 		width: 100%;
// 		display: flex;
// 		align-items: center;
// 		flex-direction: column;
// 		padding-right: 0.5em;

// 		.post-meta {
// 			white-space: nowrap;
// 		}

// 		.post-link {
// 			font-size: 25px;
// 			text-align: center;
// 		}
// 	}

// 	img {
// 		margin: 0;
// 		margin-left: auto;
// 		align-self: flex-end;
// 		justify-self: center;

// 		@include media-query($small-screen) {
// 			min-width: 100%;
// 		}
// 	}
// }

.tag {
	color: white;
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-radius: 1em;
}

.green {
	background-color: green;
}

.blue {
	background-color: mediumblue;
}

/**
 * Posts
 */
.post {
	max-width: inherit;
}

.post-header {
	// margin-bottom: $spacing-unit;
}

.post-title {
	font-size: 2.625em;
	letter-spacing: -1px;
	line-height: 1;
	text-align: center;
	font-weight: bold;

	// @include media-query($small-screen) {
	// 	font-size: 2.25em;
	// }
}

.post-content {
	// margin-bottom: $spacing-unit;

	h2 {
		font-size: 2em;

		@include media-query($small-screen) {
			font-size: 1.75em;
		}
	}

	h3 {
		font-size: 1.625em;

		@include media-query($small-screen) {
			font-size: 1.375em;
		}
	}

	h4 {
		font-size: 1.25em;

		@include media-query($small-screen) {
			font-size: 1.125em;
		}
	}
}

/**
 * Project page
 */
.project-title {
	margin: 0.25em;
}
.project-status {
	margin: 0.25em 0;

	margin-right: -10px;
	padding-right: 10px;

	text-align: center;
}

.card-active {
	border-color: #b6ffb6;
	box-shadow: 0 0 10px #b6ffb6;

	.project-status {
		color: #143014;
		background: linear-gradient(to left, #b6ffb6 50%, #8afb8a 70%, #00000000 100%);
		text-shadow: 0 0 5px #25e425;
	}

	&:hover {
		box-shadow: 0 0 15px #b6ffb6;
	}
}

.card-inactive {
	border-color: #ffe1ad;
	box-shadow: 0 0 10px #ffe1ad;

	.project-status {
		color: #143014;
		background: linear-gradient(to left, #ffe1ad 50%, #ffd58e 70%, #00000000 100%);
		text-shadow: 0 0 5px #e09920;
	}

	&:hover {
		box-shadow: 0 0 15px #ffe1ad;
	}
}
