{{ define "main" }}
<main aria-role="main">
  <h2>About Me</h2>

  <p>Welcome to my personal website, I'm James. I believe the web should be full of passion and creativity! This website is a step in that direction.</p>
  <p>My blog has (or will have) all sorts of reviews, opinions, information, guides, and more so hopefully people can learn these things from an actual person and not a corporation or bot.</p>
  <p>I have some cool stuff in the works, check out what's available now below.</p>

  <h2>Recent Posts</h2>



  <h2>Quick Links</h2>

  <dl>
    <dt>
      <img src="assets/icons/textarea.ico" alt="Textarea.site icon" class="icon"/>
      <a href="https://textarea.site">textarea.site</a>
    </dt>
    <dd>A simple textbox to instantly start writing.</dd>
    <dt>
      <img src="assets/icons/spookingout.png" alt="Spooking Out icon" class="icon"/>
      <a href="{% post_url 2022-10-24-introducing-spooking-out %}">Spooking Out!</a>
    </dt>
    <dd>A game made for the 2010 Roblox engine about catching ghosts.
      <a href="{% post_url 2022-11-02-spooking-out-modern-roblox-port %}">There's a port to modern Roblox too!</a>
    </dd>
    <dt>
      <img src="assets/icons/github.png" alt="GitHub icon" class="icon"/>
      <a href="https://github.com/real-jame">My GitHub</a>
    </dt>
    <dd>Has more software and projects.</dd>
  </dl>

  <h2>Contact... with email!</h2>

  <h2>My other accounts</h2>
</main>
{{ end }}