{% comment %}
  Actually being used as a sidebar currently.

  Check out these "NEW" gif icons:
  <img
  src="/assets/silk/new.png"
  height="16"
  width="16"
  alt="" class="icon">
  <img
  src="/assets/icons/new.gif"
  height="18"
  width="35"
  alt="" class="icon"
  style="width: auto; height: auto;">
{% endcomment %}

<header class="site-header" role="banner">
  {% assign default_paths = site.pages | map: 'path' %}
  {% assign page_paths = site.header_pages | default: default_paths %}
  <h1 class="page-title">{{ site.title | "realjame" }}</h1>
  {% if page_paths %}
    <nav class="site-nav">
      <a class="header-item" href="/"><img
          src="/assets/silk/house.png"
          height="16"
          width="16"
          alt=""
          class="icon">Home
      </a>
      <a class="header-item" href="/blog"><img
          src="/assets/feedicons-color/01.png"
          height="16"
          width="16"
          alt=""
          class="icon">Blog
      </a>
      <a class="header-item" href="/dailynote"><img
          src="/assets/feedicons-color/16.png"
          height="16"
          width="16"
          alt=""
          class="icon">Daily Notes
      </a>
      <a class="header-item" href="/devlog"><img
          src="/assets/feedicons-color/25.png"
          height="16"
          width="16"
          alt=""
          class="icon">Devlogs
      </a>
      <a class="header-item" href="/projects"><img
          src="/assets/silk/bricks.png"
          height="16"
          width="16"
          alt=""
          class="icon">Projects
      </a>
      <a class="header-item" href="/contact"><img
          src="/assets/silk/vcard.png"
          height="16"
          width="16"
          alt=""
          class="icon">About + Contact
      </a>

      <div class="divider"><img
          src="/assets/silk/page_white_go.png"
          height="16"
          width="16"
          alt=""
          class="icon">External Links</div>

      <a class="header-item" href="https://wiki.realja.me"><img
          src="/assets/icons/rbxlegacydocs.ico"
          height="16"
          width="16"
          alt=""
          class="icon">RBX Legacy Docs
      </a>
      <a class="header-item" href="https://textarea.site"><img
          src="/assets/icons/textarea.ico"
          height="16"
          width="16"
          alt=""
          class="icon">textarea.site
      </a>

      <hr>

      <p class="header-item">
        <a href="http://simple.realja.me"><img
            src="/assets/silk/star.png"
            height="16"
            width="16"
            alt=""
            class="icon">Simple Site
        </a>
        <i>
          <a href="/blog/simple-layout.html">(why a simple layout?)
          </a>
        </i>
      </p>
    </nav>
  {% endif %}
</header>