{% comment %} Too lazy to do the CSS-only route lol. {% endcomment %}
<script src="/assets/snowstorm-min.js"></script>
<button id="snow-toggle" onclick="toggleClick()">
  <img
    src="/assets/silk/weather_snow.png"
    alt="Toggle Snow"
    id="snow-icon">
</button>
<style>
  #snow-toggle {
    position: fixed;
    bottom: 1em;
    right: 2em;
    padding: 0;
  }

  #snow-icon {
    max-width: unset;
    height: 32px;
    width: 32px;
    image-rendering: pixelated;
  }
</style>
<script>
  snowStorm.excludeMobile = false; // it's 2023, mobile CPUs and batteries have seen worse.
  snowStorm.vMaxX = 0.2;
  snowStorm.vMaxY = 2;

  const savedSettings = JSON.parse(localStorage.getItem('snowSettings')) || {
    snowEffect: true,
  };
  console.log(localStorage.getItem("snowSettings"));

  let snow = savedSettings.snowEffect;
  function updateSnowing() {
    if (snow) {
        snowStorm.flakesMaxActive = 64;
    } else {
        snowStorm.flakesMaxActive = 0;
    }
    document.getElementById('snow-icon').src = snow ? '/assets/silk/weather_snow.png' : '/assets/silk/weather_sun.png';
    saveSettings();
  }
  if (!snow) {
    updateSnowing() // apply previously saved changes on page load
  }

  function toggleClick() {
    snow = !snow;
    updateSnowing();
  }

  function saveSettings() {
    const settings = {
        snowEffect: snow,
    };
    localStorage.setItem('snowSettings', JSON.stringify(settings));
    console.log(localStorage.getItem("snowSettings"));
  }
</script>