header {
}

body {
	--text-color: #eee;
	--link-color: lightblue;
	--background-color: #222;
	--nav-background-color: #333;
	--nav-button-background-color: #444;

	background-color: var(--background-color);
	color: var(--text-color);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	width: 50%;
	margin: auto;
}

nav,
footer {
	background-color: var(--nav-background-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

nav a,
footer a {
	background-color: var(--nav-button-background-color);
	margin: 0 10px;
	padding: 0.5em;
	border-radius: 3px;
}

main {
	padding: 1em;
	background-color: var(--nav-background-color);
}

footer a {
	padding: 1em;
}

h1,
h2 {
	margin: 0;
	text-align: center;
}

dl {
	margin: 0;
}

dt {
	width: 100%;
	font-size: 1.2em;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

p {
	text-align: center;
}

.picture {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.icon {
	vertical-align: middle;
	width: 1em;
	height: 1em;
	margin: 0;
	padding: 0;
}

@media (prefers-color-scheme: light) {
	body {
		--text-color: #333;
		--link-color: #30829c;
		--background-color: #eee;
		--nav-background-color: #ddd;
		--nav-button-background-color: #bbb;
	}
}

@media (max-width: 768px) {
	body {
		width: 90%;
	}

	nav a,
	footer a {
		margin: 0 0.25em;
		padding: 0.2em;
	}
}
