---
---

.sidebar {
    float: left;
    width: 200px;

    ul {
        margin: 0;
    }

    hr {
        width: 85%;
    }
}

.main {
    overflow: hidden;
}

.footer {
    clear: both;
    text-align: center;
}

table,
th,
td {
    border: 1px solid gray;
}
