---
---

.sidebar {
    float: left;
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: solid;

    ul {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    hr {
        width: 85%;
    }
}

.main {
    max-width: 650px;
    margin: 40px auto;
    line-height: 1.4;
    font-size: 18px;
}

.footer {
    clear: both;
    text-align: center;

    p {
        // text-align: center;
    }
}

table,
th,
td {
    border: 1px solid gray;
}
