@charset "utf-8";

@font-face {
	font-family: "PT Sans";
	src:
		url("/assets/fonts/PT-Sans/pt-sans_regular.woff2") format("woff2"),
		url("/assets/fonts/PT-Sans/pt-sans_regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans Bold";
	src:
		url("/assets/fonts/PT-Sans/pt-sans_bold.woff2") format("woff2"),
		url("/assets/fonts/PT-Sans/pt-sans_bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans Italic";
	src:
		url("/assets/fonts/PT-Sans/pt-sans_italic.woff2") format("woff2"),
		url("/assets/fonts/PT-Sans/pt-sans_italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans Bold Italic";
	src:
		url("/assets/fonts/PT-Sans/pt-sans_bold-italic.woff2") format("woff2"),
		url("/assets/fonts/PT-Sans/pt-sans_bold-italic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

// @font-face {
// 	font-family: "Basilea";
// 	src: url("/assets/fonts/Basilea/Basilea.ttf");
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

// Define defaults for each variable.

$base-font-family: "PT Sans", sans-serif;
$base-font-size: 20px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$text-color: #cafffa !default;
$text-color-light: #24413d !default;

$background-color: #111 !default;
$background-color-light: #bbb !default;

$content-background-color: #1b2a35 !default;
$content-background-color-light: #fff !default;

$nav-background-color: #222 !default;
$nav-background-color-light: #f2f2f2 !default;

$alt-background-color: #444 !default;
$alt-background-color-light: #f4f4f4 !default;

$title-background-color: #272727 !default;
$title-background-color-light: #eee !default;

$border-color: black !default;
$border-color-light: #bbb !default;

$border-size: 1px !default;
$border-size-light: 2px !default;

$accent-color: #b3d4f0 !default;

$code-background-color: #444 !default;
$code-background-color-light: $nav-background-color-light !default;

$gray-color: #aeaeae !default;

// Width of the content area
$content-width: 100% !default;

$small-screen: 800px !default;
$medium-screen: 1500px !default;
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin light-mode() {
	@media screen and (prefers-color-scheme: light) {
		@content;
	}
}

// Import partials.
@import "realjame/base", "realjame/layout", "realjame/syntax-highlighting";
