---
layout: page
title: "about&contact"
permalink: /contact
---
<h2>Nice to see you here</h2>

<div class="contact-avatar"><img src="/assets/pfp.png"></div>

<p>I am "realjame", a 17 year old high school senior living in Florida. I mainly make software, websites, and, Roblox
    games.
    I'm working extra hard this school year to improve and try to profit from my skills.</p>

<p>There's a lot of different ways my life can progress next year. There's only one way to find out which one I pick.
    Please stick with me throughout :')
</p>

{% include callout.html type = "info" content = "Please check my <a href='/Resume-JamesStubbs.pdf'>resume</a> and <a
    href='https://linkedin.com/in/jamescstubbs'>LinkedIn</a> for professional information. I am open to any offers." %}

<ul class="contact-accounts">
    <li>
        <img src="/assets/silk/email.png" width="16" height="16" alt="" class="icon">I am
        <a href="mailto:james@realja.me">james@realja.me</a>
        on e-mail
    </li>
    <li>
        <img src="/assets/icons/discord.svg" width="16" height="16" alt="" class="icon">I am
        <u>@realjame</u>
        on Discord
    </li>
    <li>
        <img src="/assets/icons/github.svg" width="16" height="16" alt="" class="icon flat-icon">I am
        <a href="https://github.com/real-jame">real-jame</a>
        on GitHub
    </li>
    <li>
        <img src="/assets/icons/kofi.png" width="16" height="16" alt="" class="icon"
            style="transform: scale(1.5) translatex(1px);">I am
        <a href="https://ko-fi.com/realjame">realjame</a>
        on Ko-Fi
    </li>
    <li>
        <img src="/assets/icons/linkedin.ico" width="16" height="16" alt="" class="icon">I am
        <a href="https://linkedin.com/in/jamescstubbs">jamescstubbs</a>
        on LinkedIn
    </li>
    <li>
        <img src="/assets/icons/mastodon.svg" width="16" height="16" alt="" class="icon">I am
        <a href="https://wetdry.world/@jame">jame@wetdry.world <img src="/assets/icons/wetdryworld.ico" width="16"
                height="16" alt="" class="icon"></a>
        on Mastodon
    </li>
    <li>
        <img src="/assets/icons/roblox.ico" width="16" height="16" alt="" class="icon">I am
        <a href="https://www.roblox.com/users/22645404/profile">realjame98</a>
        on Roblox
    </li>
    <li>
        <img src="/assets/icons/rbxlegacydocs.ico" width="16" height="16" alt="" class="icon">I am
        <a href="https://wiki.realja.me/index.php/User:Realjame">Realjame</a>
        on
        <a href="https://wiki.realja.me">Roblox Legacy Docs</a>
    </li>
    <li>
        <img src="/assets/icons/twitch.svg" width="16" height="16" alt="" class="icon">I am
        <a href="https://www.twitch.tv/realjame_">realjame_</a>
        on Twitch
    </li>
    <li>
        <img src="/assets/icons/twitter.svg" width="16" height="16" alt="" class="icon">I am
        <a href="https://twitter.com/real__jame">real__jame</a>
        on Twitter
    </li>
    <li>
        <img src="/assets/icons/youtube.svg" width="16" height="16" alt="" class="icon" style="height: auto;">I am
        <a href="https://youtube.com/@realjame">realjame</a>
        on YouTube
    </li>
</ul>

<h2>Subscribe to RSS</h2>

{% include rss.html %}

<h2>Button</h2>

<p>Oh, by the way I do have a cool 88x31 button you can add to your site :D It's a scene I created in the old Roblox
    engine, so I regularly swap out the background to different classic maps.</p>

<a href="/"><img src="/realjame.gif"></a>

<p>Because of the auto-updating, I'd like you to link the image source directly to my website, so when I update, it'll
    update on every site that uses it! Don't worry, I have Cloudflare and caching and stuff, it won't hurt. And of
    course, you don't have to.</p>

<textarea readonly>
    <a href="https://realja.me"><img
            src="https://realja.me/realjame.gif"
            width="88"
            height="31"
            alt="realja.me"></a>
</textarea>

<p>Hey, let me know if you add it btw!</p>

<h2>Shout-outs</h2>

<p>This website uses the following icon packs:</p>

<ul>
    <li>
        <a href="https://github.com/markjames/famfamfam-silk-icons">Silk by Mark James (FamFamFam)</a>
    </li>
    <li>
        <a href="https://github.com/damieng/silk-companion">Silk Companion Icons by Damien Guard</a>
    </li>
    <li>
        <a href="http://www.feedicons.com/">Feed Icons Color Pack</a>
    </li>
</ul>

{% include buttonrow.html %}

<p>All these websites are very cool and ran by cool people. Check them out!</p>

<p>Also a bunch of websites I like that don't have their own banner:</p>

<ul>
    <li>
        <a href="https://indieblog.page">indieblog.page</a>
    </li>
    <li>
        <a href="https://jcs.org">Joshua Stein</a>
    </li>
    <li>
        <a href="https://simonwillison.net">Simon Willison</a>
    </li>
    <li>
        <a href="http://salmonofcapistrano.com">The Salmon of Capistrano (...?)</a>
    </li>
    <li>
        <a href="https://billwurtz.com">Bill Wurtz</a>
    </li>
    <li>
        <a href="http://transistorcafe.net/~wiz/">WysiWyg Protogen</a>
    </li>
    <li>
        <a href="https://www.cozynet.org/">cozynet.org</a>
    </li>
    <li>
        <a href="https://cooltrainer.org">cooltrainer.org (I wonder why posting stopped so suddenly...)</a>
    </li>
    <li>
        <a href="https://problemkaputt.de/">problemkaputt.de</a>
    </li>
    <li>
        <a href="https://wii.guide">wii.guide</a>
    </li>
    <li>
        <a href="https://bactra.org">bactra.org</a>
    </li>
    <li>
        <a href="https://soatok.blog/">soatok.blog</a>
    </li>
    <li>
        <a href="https://ioi-xd.net/">ioi-xd.net</a>
    </li>
    <li>
        <a href="http://frogfind.com/">FrogFind!</a>
    </li>
    <li>
        <a href="https://theoldnet.com/">The Old Net</a>
    </li>
    <li>
        <a href="https://iffybooks.net">Iffy Books</a>
    </li>
    <li>
        <a href="https://solar.lowtechmagazine.com/">
            LOW←TECH MAGAZINE</a>
    </li>
</ul>

<p>Shoutout to this article by
    <a href="https://justinjackson.ca">Justin Jackson</a>:
    <a href="https://justinjackson.ca/webmaster/">"I'm a fucking webmaster"</a>. This article is the reason I label
    myself a "webmaster" on Mastodon/Twitter, lol. It's a cool title!
</p>

<p>Shoutout to Kugee from
    <a href="https://razorback95.com">Razorback</a>
    - nothing specific, just probably my favorite website on the internet in its passion, creativity, motivation, and
    unique focus, as well as the services it provides. It is the ultimate "personal website", and I love it for that.
    <a href="http://razorback95.com"><img src="/assets/buttons/razorback95.gif" alt="Razorback"></a>
</p>

<p>Big shoutout to
    <a href="https://landchad.net">LandChad.net</a>. It's what pushed me to create a website in 2021, and was my
    introduction to working with Linux servers and making websites.
    <small>Although I also set up an e-mail server using the guide and I learned how painful it is to maintain that. I
        guess that was a learning experience...?</small>
    <a href="https://landchad.net"><img src="/assets/buttons/landchad.gif" alt="Get a website - LandChad.net"></a>
</p>

<p>Shoutout to
    <a href="https://simonwillison.net">Simon Willison's website - simonwillison.net</a>, I love the minimalism design
    with the "tasteful" use of purple. But more specifically, his
    <a href="https://til.simonwillison.net">"TILs"</a>
    section is what inspired the Daily Notes on my site.
</p>

<p>Shoutout to
    <a href="https://zencorner.xyz">Zenith</a>
    and
    <a href="https://ashiecorner.xyz">Ashie</a>
    for making an EXTREMELY PRETTY looking website design, with the colors, gradients, shadows, and layout. It's all so
    good, I had to steal it! It was (blatantly) my biggest inspiration in this redesign.
    <a href="https://ashiecorner.xyz"><img src="/assets/buttons/ashiecorner.gif" alt="ashiecorner"></a>
    <a href="https://zencorner.xyz"><img src="/assets/buttons/zencorner.gif" alt="zencorner"></a>
</p>

<p>I'd also like to give
    <a href="https://nick64.me">Nick64</a>
    <i>the most special thanks</i>
    for being a very good friend of mine and motivating me to keep improving my website and being active on it, as he is
    always doing with his. He posts far, FAR more than I do and has a beautiful website design. If you love the PSP, you
    will enjoy his blog.
    <a href="https://nick64.me"><img src="/assets/buttons/nick64.gif" alt="nick64.me"></a>
</p>

<h2>Some lists</h2>

<p>The specs of my main computer, a gaming laptop:</p>

<table>
    <thead>
        <tr>
            <td>Lenovo Legion 7i Gen 6</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Windows 11 / Fedora Linux</td>
        </tr>
        <tr>
            <td>1TB SSD</td>
        </tr>
        <tr>
            <td>32GB RAM</td>
        </tr>
        <tr>
            <td>Intel Core i7 11800H
            </td>
        </tr>
        <tr>
            <td>NVIDIA GeForce RTX 3070 Laptop GPU</td>
        </tr>

    </tbody>
</table>

<p>I've had this laptop for 2 years, and will definitely last me through college at least. Extremely powerful, perfect
    for gaming or rendering video. I don't like the average gaming laptop, but this thing isn't flashy at all. I love
    laptops in general though - it's fun to put my favorite stickers on the lid :))</p>

<p>My hardware:</p>

<table>
    <thead>
        <tr>
            <td width="10%">Type</td>
            <td width="25%">Name</td>
            <td>Model</td>
        </tr>
    </thead>
    <tbody>
        <tr></tr>
        <tr>
            <td><img src="/assets/silk/companion/png/16/laptop.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                Petaltail
            </td>
            <td>Lenovo Legion 7i Gen 6</td>
        </tr>
        <tr></tr>
        <tr>
            <td><img src="/assets/silk/computer.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                Clubtail
            </td>
            <td>Alienware Aurora R7</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/server.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                Spiketail
            </td>
            <td>Vultr VPS server</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/ipod.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>unnamed</i>
            </td>
            <td>2005 iPod Mini, silver (upgraded to 32GB)</td>
        </tr>

        <tr>
            <td><img src="/assets/silk/companion/png/16/smartphone.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Dragonlet</i>
            </td>
            <td>Google Pixel 6 Pro</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/book.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Amberwing</i>
            </td>
            <td>Kindle Voyage</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/controller.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Flameskimmer</i>
            </td>
            <td>Nintendo DSi, red</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/controller.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>unnamed</i>
            </td>
            <td>Sega Dreamcast (GD-EMU modded)</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/companion/png/16/smartphone.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Spotwing</i>
            </td>
            <td>Kindle Fire HD 10 Gen 7</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/controller.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Whitetail</i>
            </td>
            <td>Nintendo Wii</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/controller.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Saddlebag</i>
            </td>
            <td>Nintendo Wii U, black</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/controller.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Jewelwing</i>
            </td>
            <td>New Nintendo 3DS XL, Galaxy Style</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/companion/png/16/smartphone.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>unnamed</i>
            </td>
            <td>OnePlus 6T</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/phone.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>unnamed</i>
            </td>
            <td>Nokia 2780</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/ipod.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>unnamed</i>
            </td>
            <td>iPod Nano Gen 5, purple</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/monitor.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>N/A</i>
            </td>
            <td>Compaq MV5500 (CRT monitor)</td>
        </tr>
        <tr>
            <td><img src="/assets/silk/controller.png" width="16" height="16" alt="" class="icon"></td>
            <td>
                <i>Ringtail</i>
            </td>
            <td>Steam Deck</td>
        </tr>
    </tbody>
</table>
<p>I own a lot of random hardware. Some of it formerly belonged to my parents or older siblings, and some of it I've
    worked very hard to pursue and get (CRT and Dreamcast), but all of it was gathered over the course of years. The
    hardware spans from the 2020s to the late 90s, but I manage to find a use for everything.</p>

<p>Some notes:</p>

<ul>
    <li>The Aurora R7 has Debian installed and is acting as a home server, I host Minecraft Better Than Adventure on it
        for me and my friends :DD</li>
    <li>The iPod Mini was upgraded with a new battery and a SD card slot, I also installed the
        <a href="rockbox.org">Rockbox custom firmware</a>. I put in a 32GB SD as that's all I had, but I could expand it
        in the future. I love iPods so much!!! This thing is a daily driver for me, I use it in the car, at school,
        biking, wherever.
    </li>
    <li>
        <a href="/dailynote/kindle-jailbreak.html">The Kindle e-reader is jailbroken with KOReader installed.</a>
    </li>
    <li>The DSi is my favorite handheld in terms of design. Although it's fun to emulate Switch games on my Steam Deck,
        so that sees more use.</li>
    <li>The Dreamcast was lended to me by Nick64, god bless this man. I replaced the failing disc drive with a GD-EMU,
        which can load games from an SD card.</li>
    <li>The Kindle Fire tablet has LineageOS installed, but I'm not exactly sure what to do with it right now.</li>
    <li>The Wii is awesome. I'm planning to make an alternate version of my site designed for the Wii web browser, as
        well as making my own homebrew!!</li>
    <li>I don't really like the 3DS... it feels too cheap and plastic-y compared to the sleek matte of the DSi line.
    </li>
    <li>The Oneplus 6T is being lended to my friend for use with
        <a href="https://www.kali.org/docs/nethunter/">Kali NetHunter</a>
        hacking tools >:)
    </li>
    <li>The iPod Nano is my favorite iPod design - it looks beautiful, sleek, and is the peak of "Y2K aesthetics" for
        me. But it's a FIRE HAZARD, the battery is literally bulging and pressing the screen out. So I just have it on a
        shelf, sadly going unused. :(</li>
    <li>The CRT was like $60 but it looks pretty cool and great for playing Dreamcast so it was worth the price for me
        :) hard to find CRTs around here...</li>
</ul>