<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <!-- Hi! -->
    <!-- I've written comments on several posts and pages of this website. -->
    <!-- You can try opening the latest post and check. -->
    <!-- You'll have to dig a bit, expand div > main > "post-content" div -->
    <!-- But if you do that, you'll find some more serious reflections. -->
    <!-- https://realja.me/bloxycola.jpg -->
    {% comment %} {% include snowjs.html %} {% endcomment %}
    {% include snowcss.html %}
    {% include header.html %}
    <div class="page-content">
      <main class="content-wrapper" aria-label="Content">{{ content }}</main>
    </div>

    {% include footer.html %}
  </body>
</html>